<%- include("header") -%>
<h2>This is the about page</h2>

<p>dje kjfddid didifd fdifdif fdidf dfidf dog tir eie rir eie row reow eiw eiw eie wiw eiw eifeieiueie wiw eiw ei</p>

<%- include("footer") -%>
